<div class="video-container" *ngIf="showMenu"  >
  <video class="video" autoplay loop>
    <source src="assets/video.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>

  <div class="video-text">
    <h3>Scopri i nostri prodotti e le nostre schede tecniche</h3>
    <h4>Esplora il futuro della comunicazione con la nostra vasta selezione.</h4>
    <p>Dai personal computer potenti alle prestazioni straordinarie, abbiamo tutto ciò di cui hai bisogno per rimanere
      connesso e aggiornato.</p>
    <button class="btn" (click)="navigateToPage2()">Scopri di più</button>
  </div>
</div>