.video-container {
  position: relative;
  width: 100%;

  min-height: auto;
}

.video {
  width: 100%;
  height: 90%;
 
  object-fit: cover;
}

.video-text {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 35%;
  background-color: rgba(88, 136, 207, 0.5);
  color: #fff;
  padding: 5% 2% 5% 5%; 
  font-family: 'Mooli', sans-serif;
  border-radius: 10px;
  font-size: 2vw; /* Imposta il testo con unità di misura relative basate sulla larghezza del contenitore */
}

/* animazione testo */
h4 {
  animation: slide-in 3s ease-out;
  color: #08ffde;
  font-size: 60%; /* Modifica la dimensione del testo con unità di misura relative basate sulla larghezza del contenitore */
}
h2 {
  font-size: 100%; /* Modifica la dimensione del testo con unità di misura relative basate sulla larghezza del contenitore */
}
h3 {
  font-size: 60%; /* Modifica la dimensione del testo con unità di misura relative basate sulla larghezza del contenitore */
}

@keyframes slide-in {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Stile del pulsante */
.video-text .bott {
  background-color: #08ac96;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1%;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  font-size: 0.9em; /* Modifica la dimensione del testo del pulsante */
}

.video-text .btn:hover {
  background-color: #009c8e;
}