/* Stile per la sezione del header */
#header {
  background-color: #4C5656;
  color: hsl(0, 0%, 100%); 
  padding: 10px; 
  text-align: center; 
}

/* Stile per il titolo */
#header h1 {
  font-size: 36px;
  color: #C6FF79; /* Testo bianco */
  font-family: 'Arial', sans-serif;
  text-align: center;
}


#header p {
  font-size: 14px; 
  margin-top: 20px;
  font-family: 'Mooli', sans-serif;
}
